# Titanic Dataset - Exploratory Data Analysis (EDA)
This notebook performs Exploratory Data Analysis on the Titanic dataset using **Pandas**, **Matplotlib**, **Seaborn**, and **Plotly**.

In [ ]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
sns.set(style="whitegrid")

In [ ]:


df = pd.read_csv("Titanic-Dataset.csv")
df.head()

In [ ]:

df.info()
df.shape

In [ ]:


df.describe().T
df.describe(include="object")

In [ ]:

df.isnull().sum()
plt.figure(figsize=(8,5))
sns.heatmap(df.isnull(), cbar=False, cmap='viridis')
plt.title("Missing Values Heatmap")
plt.show()

In [ ]:

numeric_cols = df.select_dtypes(include=['int64','float64']).columns

df[numeric_cols].hist(figsize=(12,8), bins=20, edgecolor='black')
plt.tight_layout()
plt.show()

In [ ]:

for col in numeric_cols:
    plt.figure(figsize=(6,3))
    sns.boxplot(x=df[col])
    plt.title(f"Boxplot of {col}")
    plt.show()

In [ ]:

plt.figure(figsize=(8,6))
sns.heatmap(df.corr(), annot=True, cmap="coolwarm", linewidths=0.5)
plt.title("Correlation Heatmap")
plt.show()

In [ ]:

sns.pairplot(df.dropna(), hue="Survived")
plt.show()

In [ ]:

fig = px.histogram(df, x="Age", color="Survived", nbins=20, title="Age Distribution by Survival")
fig.show()
fig2 = px.scatter(df, x="Fare", y="Age", color="Survived", size="Fare", hover_data=["Sex", "Pclass"])
fig2.show()

In [ ]:

sns.barplot(x="Sex", y="Survived", data=df)
plt.title("Survival Rate by Gender")
plt.show()
sns.barplot(x="Pclass", y="Survived", data=df)
plt.title("Survival Rate by Passenger Class")
plt.show()